{% extends 'departments/admin.html' %}
{% load crispy_forms_tags%}

{% block head %}
<title>Add New Series</title>
<style>
    label {
        font-weight: bold;
    }

    h3 {
        text-decoration: underline 2px;
        text-underline-position: under;
        margin-bottom: 1rem;
    }
    
</style>
{%endblock%}


{% block content %}

<div class="container" id="replacable">
    <div class="row mt-5">
        <div class="col">
            <h3>Add New Series</h3>
        </div>
    </div>
    <div class="row border border-primary rounded py-3 px-1">
        <form method="POST" id="seriesForm" data-objective="addSeries">
            {% csrf_token %}
            {{form|crispy}}
        <div class="col-12">
            <button class="btn btn-outline-success" id="next">Next</button>
        </div>
        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', () => {
        repl = document.getElementById('replacable');
        form = document.getElementById('seriesForm');
        form.addEventListener('submit', submitForm);
        function submitForm(e){
            e.preventDefault();
            data = new FormData(form);
            fetch('', {
                method: 'POST',
                body: data,
                headers: {
                    'X-Custom-Headers': form.dataset.objective,
                }

            })
            .then(response => response.json())
            .then(result => {
                if(result['status']=='seriesDone'){
                    repl.innerHTML = result['html'];
                    console.log(document.getElementById('seriesForm').dataset.objective);
                    if(document.getElementById('seriesForm').dataset.objective === 'addStudent'){
                        form = document.getElementById('seriesForm');
                        form.addEventListener('submit', submitForm);
                        console.log('added');
                    }
                }
                else if(result['status']=='seriesFailed'){
                    const dom = new DOMParser().parseFromString(result['html'], 'text/html');
                    repl.innerHTML = dom.getElementById('replacable').innerHTML;
                    form = document.getElementById('seriesForm');
                    form.addEventListener('submit', submitForm);
                }
                else if(result['status']=='studentFailed'){
                    window.location.reload();
                }
                else if(result['status']=='studentDone'){
                    window.location.href = "{%url 'dept:admin' dept.dept_id %}";
                }
            })
        }
    });
</script>

{% endblock %}