{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %} ">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    {% block css %}{% endblock %}
</head>

<body>
    {% block messege %}
    {% endblock %}
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-5"><a href="{%url 'dept:home' dept.dept_id %}">{{dept.dept_id}}</a></div>

                <nav class="col-7 site-navigation text-center">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="{% url 'Main:home' %}" class="nav-link active">Home</a></li>
                        <li class="nav-link"><a href="#">About</a></li>
                        <li class="nav-link">
                            <a href="#">Courses</a>

                        </li>
                        <li class="has-children">
                            <a href="#">Faculty</a>
                            <ul class="dropdown">
                                <li><a href="#">List of Department Heads</a></li>
                                <li><a href="{% url 'dept:allTeachers' dept.dept_id %}">List of all Faculty members</a></li>
                            </ul>
                        </li>
                        {% if isLogged %}
                        <li class="nav-link"><a href="{%url 'dept:admin' dept.dept_id %}">Admin Panel</a>
                        </li>
                        {% endif %}
                        <li><a href="contact.html">Contact</a></li>

                        <li class="d-lg-none"><a href="login.html">Log In</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
                        {% if isLogged %}
                        <a href="{%url 'dept:logout' dept.dept_id %}"
                            class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                                class="mr-2 icon-lock_outline"></span>Log Out</a>
                        {% else %}
                        <a href="{{dept.get_absolute_url}}login/"
                            class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                                class="mr-2 icon-lock_outline"></span>Log In</a>
                        {% endif %}
                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>


    <div class="hero bg-dark">

    </div>

    {% block content %}
    {% endblock %}

    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{%static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/jquery.sticky.js'%}  "></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>